[Desktop Entry]
Version=1.0
Type=Application
Name=Gazebo PX4
Comment=Fully-featured Gazebo simulation with default PX4 settings
Exec=/bin/bash -c 'source /home/clever/catkin_ws/devel/setup.bash; roslaunch clover_simulation simulator.launch'
Icon=gazebo
Path=
Terminal=true
StartupNotify=false
