[Desktop Entry]
Version=1.0
Type=Application
Name=jMAVSim
Comment=A lightweight PX4 simulator
Exec=/bin/bash -c 'cd ~/PX4-Autopilot; make px4_sitl jmavsim'
Icon=openjdk-8
Path=
Terminal=true
StartupNotify=false
